@media all and (max-width: 1299px) and (min-width: 1000px) {
    
    
    /*공통영역*/
    
    #wrap {
        width: 100%;
    }
    
    header, section {
        width: 100%;
    }
    
    /*공통영역 end*/
    
    
    header {
        height: 70px;
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    
    #menu-btn {
        width: 47px;
        height: 23px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -23.5px;
        cursor: pointer;
    }
    
    #menu-btn li {
        width: 100%;
        height: 10px;
        border-top: 1px solid #c4c4c4;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }
    
    #logo {
        width: 35px;
        opacity: 0.8;
        position: absolute;
        top: 57px;
        left: 85px;
        z-index: 5;
    }
    
    /*header ----------*/
    
    
    section {
        position: absolute;
       /* position: relative;*/
        top: 0;
        left: 0;
        /*background-color: #0c0c0c;*/
        background-color: #000;
    }
    
    #main-img {
        width: 100%;
        height: 100vh;
        background-image: url(../img/main.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }
    
    #dot-wrap {
        display: none;
    }
    
    #main-txt-tab {
        width: 500px;
        height: 750px;
        margin: 120px auto 0 auto;
        color: #b1b1b1;
        text-align: center;
    }
    
    .txt-tab {
        width: 100%;
        height: 45px;
        font: 23px/45px '';
    }
    
    #dot-wrap-tab {
        width: 50px;
        height: 13px;
        margin: 100px auto;
    }
    
    #dot-wrap-tab li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
        float: left;
        background-color: #4a4a4a;
    }
    
    #dot-wrap-tab li:last-child {
        margin-right: 0;
    }
    
    .info-tab {
        width: 100%;
        height: 130px;
    }
    
    .info-top {
        width: 100%;
        height: 37px;
        font: 19px/37px '';
    }
    
    .info-bottom {
        width: 100%;
        height: 37px;
        font: 25px/37px 'Khand';
    }
    
    #copyright {
        width: 100%;
        font-size: 11px;
        color: #464646;
        /*margin-top: 150px;*/
        position: absolute;
        bottom: 30px;
        left: 0;
    }
    
    /*section ----------*/
    
    
    #menu-wrap {
        width: 100%;
        height: 100vh;
        background-color: /*#121212*/ #0f0f0f;
        position: absolute;
        top: -1100px;
        /*top: 0;*/
        left: 0;
        z-index: 10;
    }
    
    #in-menu-wrap {
        width: 500px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -280px;
        margin-left: -250px;
        text-align: center;
        font-family: 'Khand';
    }
    
    #in-menu-wrap li, #in-menu-wrap li a {
        color: #c6c6c6;
    }
    
    .menu-line {
        width: 100%;
        height: 1px;
        background-color: #383838;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .menu-title {
        width: 200px;
        height: 65px;
        font: 800 40px/65px 'Khand';
        margin: 0 auto;
    }
    
    #menu-pro {
        width: 100%;
        height: 110px;
        font: 800 82px/110px 'Khand';
        margin-bottom: 5px;
    }
    
    .menu-project {
        width: 250px;
        height: 56px;
        font: 21px/56px 'Khand';
        margin: 0 auto;
    }
    
    .menu-hover-line {
        width: 0px;
        height: 1px;
        margin-left: 110px;
        margin-top: -5px;
        background-color: #c1c1c1;
        transition: 0.3s;
    }
    
    .menu-project:hover .menu-hover-line {
        width: 30px;
    }
    
    .menu-title:hover #menu-a {
        color: #808080;
    }
    
    /*menu ----------*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
} /*main_pc-2 end*/