@media all and (max-width: 999px) and (min-width: 650px) {
    
    
    /*공통영역*/
    
    #wrap {
        width: 100%;
        overflow: hidden;
        background-color: #0f0f0f;
    }
    
    header, section {
        width: 100%;
        position: relative;
    }
    
    #sc1-top-wrap, .container {
        width: 88%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        color: #d8d8d8;
    }
    
    /*공통영역 end*/
    
    
    header {
        height: 70px;
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    
    #menu-btn {
        width: 47px;
        height: 23px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -23.5px;
        cursor: pointer;
    }
    
    #menu-btn li {
        width: 100%;
        height: 10px;
        border-top: 1px solid #c4c4c4;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }
    
    #header-left {
        width: 58px;
        height: 100px;
        position: relative;
        top: 50px;
        left: 55px;
        z-index: 5;
    }
    
    #logo {
        width: 30px;
        opacity: 0.4;
        float: left;
    }
    
    #header-left-txt {
        display: none;
    }
    
    #title {
        font-family: 'Khand';
        font-size: 22px;
        color: #d8d8d8;
        padding-top: 40px;
        opacity: 0.4;
    }
    
    #header-left-line {
        width: 100%;
        height: 1px;
        background-color: #4d4d4d;
        position: absolute;
        top: 35px;
        left: -5px;
    }
    
    /*header ----------*/
    
    
    #section-1 {
        height: 550px;
        margin-top: 120px;
    }
    
    #sc1-top-wrap {
        height: 100%;
        text-align: center;
    }
    
    #sc1-bit {
        width: 100%;
        height: 80px;
        font: 600 80px/80px 'Khand';
        margin-bottom: 40px;
        color: #d6d6d6;
    }
    
    #sc1-top-txt {
        width: 100%;
        height: 235px;
    }
    
    #sc1-top-txt li {
        height: 30px;
        font: 16px/30px '';
        color: #7b7b7b;
    }
    
    #sc1-top-txt li:last-child {
        margin-top: 20px;
    }
    
    #sc1-top-uou {
        width: 100%;
        height: 260px;
    }
    
    #date {
        height: 35px;
        font: 16px/35px '';
    }
    
    #place {
        height: 58px;
        font: 600 27px/58px '';
    }
    
    #time {
        height: 30px;
        font: 16px/30px '';
    }
    
    #sc1-dot {
        width: 150px;
        height: 14px;
        margin: 0 auto;
    }
    
    #sc1-dot li {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
        background-color: #505050;
    }
    
    #sc1-dot li:last-child {
        margin-right: 0;
    }
    
    /*section-1 ----------*/
    
    
    #section-2 {
        height: 2400px;
        margin-top: 200px;
    }
    
    #sc2-title {
        width: 100%;
        height: 50px;
        text-align: center;
        font: 20px/50px '';
        margin-bottom: 60px;
    }
    
    #sc2-img-wrap {
        width: 100%;
        height: 2170px;
    }
    
    .sc2-con-wrap {
        width: 100%;
        height: 410px;
    }
    
    .sc2-con-left {
        width: /*415px*/ 41.5415vw;
        height: 100%;
        float: left;
    }
    
    .sc2-con-right {
        width: /*415px*/ 41.5415vw;
        height: 100%;
        float: right;
    }
    
    .student-img {
        width: /*415px*/ 41.5415vw;
        height: 260px;
        background-color: #adadad;
    }
    
    .student-name {
        width: 100%;
        height: 55px;
        text-align: center;
        font: 17px/55px '';
        color: #a8a8a8;
    }
    
    #sc2-dot {
        width: 150px;
        height: 14px;
        margin: 0 auto;
    }
    
    #sc2-dot li {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
        background-color: #505050;
    }
    
    #sc2-dot li:last-child {
        margin-right: 0;
    }
    
    /*section-2 ----------*/
    
    
    #section-3 {
        height: 720px;
        margin-top: 20px;
    }
    
    #sc3-title {
        width: 100%;
        height: 50px;
        text-align: center;
        font: 20px/50px '';
        margin-bottom: 60px;
    }
    
    .sc3-prof {
        width: 100%;
        height: 100px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .class {
        width: 100%;
        height: 50px;
        font: 600 25px/50px 'Khand';
        color: #a7a7a7;
    }
    
    .prof {
        width: 100%;
        font-size: 17px;
    }
    
    /*section-3 ----------*/
    
    
    #in-footer {
        font-size: 11px;
        margin-top: 90px;
        color: #464646;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    
    /*footer ----------*/
    
    
    #menu-wrap {
        width: 100%;
        height: 100vh;
        background-color: /*#121212*/ #0f0f0f;
        position: absolute;
        top: -1100px;
        /*top: 0;*/
        left: 0;
        z-index: 10;
    }
    
    #in-menu-wrap {
        width: 500px;
        height: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -310px;
        margin-left: -250px;
        text-align: center;
        font-family: 'Khand';
    }
    
    #in-menu-wrap li, #in-menu-wrap li a {
        color: #c6c6c6;
    }
    
    .menu-line {
        width: 100%;
        height: 1px;
        background-color: #383838;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .menu-title {
        width: 200px;
        height: 80px;
        font: 800 48px/80px 'Khand';
        margin: 0 auto;
    }
    
    #menu-pro {
        width: 100%;
        height: 120px;
        font: 800 95px/120px 'Khand';
        margin-bottom: 20px;
    }
    
    .menu-project {
        width: 250px;
        height: 56px;
        font: 23px/56px 'Khand';
        margin: 0 auto;
    }
    
    .menu-hover-line {
        width: 0px;
        height: 1px;
        margin-left: 110px;
        margin-top: -5px;
        background-color: #c1c1c1;
        transition: 0.3s;
    }
    
    .menu-project:hover .menu-hover-line {
        width: 30px;
    }
    
    .menu-title:hover #menu-a {
        color: #808080;
    }
    
    /*menu ----------*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
} /*about_tab end*/