@media all and (max-width: 649px) {
    
    
    /*공통영역*/
    
    #wrap {
        width: 100%;
        overflow: hidden;
        background-color: #0f0f0f;
    }
    
    header, section {
        width: 100%;
        position: relative;
    }
    
    .container {
        width: 88%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        color: #d8d8d8;
    }
    
    /*공통영역 end*/
    
    
    header {
        height: 70px;
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    
    #menu-btn {
        width: 40px;
        height: 23px;
        position: absolute;
        top: 44px;
        left: 50%;
        margin-left: -20px;
        cursor: pointer;
    }
    
    #menu-btn li {
        width: 100%;
        height: 10px;
        border-top: 1px solid #868686;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }
    
    #header-left {
        width: 200px;
        position: relative;
        top: 165px;
        left: 50%;
        margin-left: -100px;
        z-index: 5;
        text-align: center;
        /*background-color: cadetblue;*/
    }
    
    #logo {
        width: 25px;
        opacity: 0.4;
        float: left;
        margin-left: 87.5px;
    }
    
    #header-left-txt {
        display: none;
    }
    
    #title {
        font-family: 'Khand';
        font-size: 21px;
        color: #d8d8d8;
        padding-top: 40px;
        opacity: 0.9;
    }
    
    #header-left-line {
        display: none;
    }
    
    /*header ----------*/
    
    
    #section-1 {
        height: 6460px;
        /*height: 5400px;*/
        margin-top: 250px;
    }
    
    #img-wrap-last {
        position: absolute;
        top: 100px;
        display: none;
    }
    
    #sc-title {
        display: none;
    }
    
    #sc-title-mo {
        width: 167px;
        height: 30px;
        margin: 50px auto 70px auto;
        /*background-color: cadetblue;*/
    }
    
    .sc-title-li-mo {
        width: 70px;
        height: 100%;
        float: left;
        margin-right: 27px;
        /*background-color: rebeccapurple;*/
    }
    
    .sc-title-li-mo:last-child {
        margin-right: 0;
    }
    
    .title-name-mo {
        width: 100%;
        height: 30px;
        font: 600 20px/30px 'Khand';
        text-align: center;
        color: #4a4a4a;
        cursor: pointer;
    }
    
    #title-line-mo {
        width: 1px;
        height: 100%;
        background-color: #4e4e4e;
        float: left;
        margin-left: -17px;
    }
    
    .title-name-this-mo {
        color: #a8a8a8;
    }/*addclass*/
    
    .img-wrap {
        width: 100%;
        /*height: 2170px;*/
    }
    
    .con-wrap {
        width: 100%;
        height: 415px;
    }
    
    .con-left {
        width: 100%;
        height: 100%;
        float: left;
    }
    
    .con-right {
        width: 100%;
        height: 100%;
        float: right;
    }
    
    .student-img {
        width: 100%;
        height: 230px;
        background-color: #adadad;
    }
    
    .student-info-wrap {
        width: 100%;
        height: 120px;
        margin-top: 10px;
        /*background-color: cornflowerblue;*/
    }
    
    .student-info {
        width: 100%;
        height: 33px;
    }
    
    .stu-left {
        width: 48%;
        height: 33px;
        float: left;
        font: 14px/33px '';
        color: #4e4e4e;
        margin-left: 1%;
        /*background-color: coral;*/
    }
    
    .stu-right {
        width: 48%;
        height: 33px;
        float: right;
        text-align: right;
        font: 14px/33px '';
        color: #4e4e4e;
        margin-right: 1%;
        /*background-color: darkblue;*/
    }
    
    .name {
        color: #a8a8a8;
    }
    
    /*section-1 ----------*/
    
    
    #in-footer {
        font-size: 9px;
        margin-top: 50px;
        color: #464646;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    
    /*footer ----------*/
    
    
    #menu-wrap {
        width: 100%;
        height: 100vh;
        background-color: /*#121212*/ #0f0f0f;
        position: absolute;
        top: -1100px;
        /*top: 0;*/
        left: 0;
        z-index: 10;
    }
    
    #in-menu-wrap {
        width: 100%;
        height: 500px;
        position: absolute;
        top: 50%;
        margin-top: -250px;
        text-align: center;
        font-family: 'Khand';
    }
    
    #in-menu-wrap li, #in-menu-wrap li a {
        color: #c6c6c6;
    }
    
    .menu-line {
        width: 100%;
        height: 1px;
        background-color: #383838;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .menu-title {
        width: 200px;
        height: 60px;
        font: 800 35px/60px 'Khand';
        margin: 0 auto;
    }
    
    #menu-pro {
        width: 100%;
        height: 100px;
        font: 800 55px/100px 'Khand';
    }
    
    .menu-project {
        width: 250px;
        height: 46px;
        font: 17px/46px 'Khand';
        margin: 0 auto;
    }
    
    .menu-hover-line {
        width: 0px;
        height: 1px;
        margin-left: 110px;
        margin-top: -5px;
        background-color: #c1c1c1;
        transition: 0.3s;
    }
    
    .menu-project:hover .menu-hover-line {
        width: 30px;
    }
    
    .menu-title:hover #menu-a {
        color: #808080;
    }
    
    /*menu ----------*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
} /*gradu_mo end*/