@media all and (max-width: 1299px) and (min-width: 1000px) {
    
    
    /*공통영역*/
    
    #wrap {
        width: 100%;
        overflow: hidden;
        background-color: #0f0f0f;
    }
    
    header, section {
        width: 100%;
        position: relative;
    }
    
    .container {
        width: 930px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        color: #d8d8d8;
    }
    
    /*공통영역 end*/
    
    
    header {
        height: 70px;
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    
    #menu-btn {
        width: 47px;
        height: 23px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -23.5px;
        cursor: pointer;
    }
    
    #menu-btn li {
        width: 100%;
        height: 10px;
        border-top: 1px solid #c4c4c4;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }
    
    #header-left {
        width: 265px;
        height: 100px;
        position: relative;
        top: 50px;
        left: 85px;
        z-index: 5;
    }
    
    #logo {
        opacity: 0.8;
        float: left;
    }
    
    #header-left-txt {
        font-family: 'Khand';
        font-size: 18px;
        padding-top: 15px;
        padding-left: 64px;
        color: #d8d8d8;
    }
    
    #title {
        font-family: 'Khand';
        font-size: 26px;
        color: #d8d8d8;
    }
    
    #header-left-line {
        width: 100%;
        height: 1px;
        background-color: #4d4d4d;
        margin-left: -4px;
    }
    
    /*header ----------*/
    
    
    #section-1 {
        height: 3950px;
        /*height: 5400px;*/
        margin-top: 140px;
    }
    
    #img-wrap-last {
        position: absolute;
        top: 110px;
        display: none;
    }
    
    #sc-title-mo {
        display: none;
    }
    
    #sc-title {
        width: 201px;
        height: 30px;
        margin: 50px auto 80px auto;
    }
    
    .sc-title-li {
        width: 85px;
        height: 100%;
        float: left;
        margin-right: 30px;
    }
    
    .sc-title-li:last-child {
        margin-right: 0;
    }
    
    .title-name {
        width: 100%;
        height: 30px;
        font: 600 27px/30px 'Khand';
        text-align: center;
        color: #4a4a4a;
        cursor: pointer;
    }
    
    #title-line {
        width: 1px;
        height: 100%;
        background-color: #4a4a4a;
        float: left;
        margin-left: -20px;
    }
    
    .title-name-this {
        color: #b2b2b2;
    }/*addclass*/
    
    .img-wrap {
        width: 100%;
        /*height: 2170px;*/
    }
    
    .con-wrap {
        width: 100%;
        height: 480px;
    }
    
    .con-left {
        width: 440px;
        height: 100%;
        margin-right: 50px;
        float: left;
    }
    
    .con-right {
        width: 440px;
        height: 100%;
        float: right;
    }
    
    .student-img {
        width: 440px;
        height: 300px;
        background-color: #adadad;
    }
    
    .student-info-wrap {
        width: 100%;
        height: 120px;
        margin-top: 10px;
    }
    
    .student-info {
        width: 100%;
        height: 35px;
    }
    
    .stu-left {
        width: 210px;
        height: 35px;
        float: left;
        font: 16px/35px '';
        color: #585858;
        margin-left: 10px;
    }
    
    .stu-right {
        width: 210px;
        height: 35px;
        float: right;
        text-align: right;
        font: 16px/35px '';
        color: #585858;
        margin-right: 10px;
    }
    
    .name {
        color: #d6d6d6;
    }
    
    /*section-1 ----------*/
    
    
    #in-footer {
        font-size: 11px;
        margin-top: 90px;
        color: #464646;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    
    /*footer ----------*/
    
    
    #menu-wrap {
        width: 100%;
        height: 100vh;
        background-color: /*#121212*/ #0f0f0f;
        position: absolute;
        top: -1100px;
        /*top: 0;*/
        left: 0;
        z-index: 10;
    }
    
    #in-menu-wrap {
        width: 500px;
        height: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -310px;
        margin-left: -250px;
        text-align: center;
        font-family: 'Khand';
    }
    
    #in-menu-wrap li, #in-menu-wrap li a {
        color: #c6c6c6;
    }
    
    .menu-line {
        width: 100%;
        height: 1px;
        background-color: #383838;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .menu-title {
        width: 200px;
        height: 80px;
        font: 800 48px/80px 'Khand';
        margin: 0 auto;
    }
    
    #menu-pro {
        width: 100%;
        height: 120px;
        font: 800 95px/120px 'Khand';
        margin-bottom: 20px;
    }
    
    .menu-project {
        width: 250px;
        height: 56px;
        font: 23px/56px 'Khand';
        margin: 0 auto;
    }
    
    .menu-hover-line {
        width: 0px;
        height: 1px;
        margin-left: 110px;
        margin-top: -5px;
        background-color: #c1c1c1;
        transition: 0.3s;
    }
    
    .menu-project:hover .menu-hover-line {
        width: 30px;
    }
    
    .menu-title:hover #menu-a {
        color: #808080;
    }
    
    /*menu ----------*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
} /*gradu_pc-2 end*/